services:
  # git-clone:
  #   image: alpine/git
  #   container_name: git-clone
  #   volumes:
  #     - ./TOS_BE:/usr/src/TOS_BE
  #     - ./TOS_FE:/usr/src/TOS_FE
  #     - ./TOS_DB:/usr/src/TOS_DB
  #   entrypoint: /bin/sh -c 
  #     if [ -d /usr/src/TOS_BE/.git ]; then cd /usr/src/TOS_BE && git pull; else git clone https://github.com/bradly0cjw/Ticket_Order_System_BE.git /usr/src/TOS_FE; fi

  app:
    container_name: tos-be-app
    build:
      context: ./TOS_BE
      dockerfile: ./Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app/src
    environment:
      NODE_ENV: production
    networks:
      - cont_network
    
networks:
  cont_network:
    external: true